@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @import "abstract/constants";
  @import "base/base";
  @import "base/buttons";
  @import "layout/wrapper";
  @import "layout/bonuses";
  @import "layout/events";
  @import "components/header";
  @import "components/bonuses";
  @import "components/events";
  @import "components/in-plus";
  @import "components/footer";
 

   

    
  
  