.subscription_link, .footer__subscription, .in-plus__description, .bonus-description, .header__toggle_new, .header__toggle_old, .header__description, .event-text, .button, h3, h2, h1 {
  font-family: "YS Text", sans-serif;
}

.only-pad {
  display: none;
}
@media (max-width: 1439px) {
  .only-pad {
    display: initial;
  }
}
@media (max-width: 767px) {
  .only-pad {
    display: none;
  }
}

@media (max-width: 1439px) {
  .non-pad {
    display: none;
  }
}

@media (max-width: 1439px) {
  .only-desk {
    display: none !important;
  }
}

.non-desk {
  display: none;
}
@media (max-width: 1439px) {
  .non-desk {
    display: initial;
  }
}

@font-face {
  font-family: "YS Text";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "YS Text";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "YS Text";
  src: url("https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  position: relative;
  color: #21201F;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1.44px;
}

h2 {
  margin-bottom: 48px;
  color: #21201F;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -1.12px;
}

h3 {
  margin-bottom: 48px;
  color: #21201F;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.96px;
}

.button {
  margin-top: 44px;
  padding: 24px 48px;
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
  color: #21201F;
  border-radius: 36px;
  border: none;
  background: #FFDE40;
  box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background: rgb(255, 142, 255);
}
@media (max-width: 1239px) {
  .button {
    align-self: center;
    width: calc(100% - 300px);
  }
}
@media (max-width: 1239px) {
  .button_scrolled {
    position: fixed;
    max-width: 50%;
    animation-name: fadeindown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeindown {
  from {
    opacity: 0;
    bottom: -50px;
  }
  to {
    opacity: 1;
    bottom: 50px;
  }
}
.all-wrapper {
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 1239px) {
  .all-wrapper {
    width: 768px;
  }
}

.wrapper {
  max-width: 980px;
  margin: auto;
}
@media (max-width: 1239px) {
  .wrapper {
    width: 704px;
  }
}

.layout-2-column {
  display: flex;
  column-gap: 112px;
}
@media (max-width: 1239px) {
  .layout-2-column {
    flex-direction: column;
    column-gap: 0;
  }
}

.bonus {
  width: 400px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 61px;
}
@media (max-width: 1239px) {
  .bonus {
    flex-direction: row;
    column-gap: 32px;
  }
}

.grid-layout-2-column {
  display: grid;
  width: 927px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 51px 202px 262px 202px 262px 202px;
  gap: 8px;
}
@media (max-width: 1239px) {
  .grid-layout-2-column {
    display: flex;
    width: 100%;
    padding: 0 32px;
    flex-direction: column;
    align-items: center;
  }
}

.event-text {
  grid-column: 1;
  grid-row: 1/3;
  color: #21201F;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 1239px) {
  .event-text {
    padding: 0 0 40px 0;
  }
}

.event-photo1 {
  position: relative;
  grid-column: 2;
  grid-row: 2/4;
}
@media (max-width: 1239px) {
  .event-photo1 {
    position: static;
  }
}

.event-photo2 {
  position: relative;
  grid-column: 1;
  grid-row: 3/4;
}
@media (max-width: 1239px) {
  .event-photo2 {
    position: static;
  }
}

.event-photo3 {
  position: relative;
  grid-column: 2;
  grid-row: 4/6;
}
@media (max-width: 1239px) {
  .event-photo3 {
    position: static;
  }
}

.event-photo4 {
  grid-column: 1;
  grid-row: 5;
}
@media (max-width: 1239px) {
  .event-photo4 {
    position: static;
  }
}

.photo-events {
  width: 456px;
}
@media (max-width: 1239px) {
  .photo-events {
    border-radius: 30px;
  }
}

.header {
  position: relative;
  background-image: url(../../assets/header-img/bg.png);
  background-size: cover;
}

.header__wrapper {
  padding: 124px 0;
}
@media (max-width: 1239px) {
  .header__wrapper {
    padding: 32px 0 38px;
  }
}

.header__content {
  position: relative;
  margin-left: 30px;
  z-index: 1;
}
@media (max-width: 1239px) {
  .header__content {
    margin-left: 0;
    padding-left: 82px;
    position: static;
    display: flex;
    flex-direction: column;
  }
}

.header__scooter-img {
  position: absolute;
  left: 271px;
  top: -68px;
}
@media (max-width: 1239px) {
  .header__scooter-img {
    position: static;
    width: 100%;
  }
}

.header__shadow {
  position: absolute;
  left: 240px;
  top: -10px;
  width: 657.8px;
  height: 401.903px;
  transform: rotate(-140.03deg);
  border-radius: 657.8px;
  opacity: 0.5;
  background: #8241EF;
  filter: blur(100px);
}
@media (max-width: 1239px) {
  .header__shadow {
    display: none;
  }
}

.header__logo {
  display: inline-block;
  width: 176px;
  height: 50px;
  margin-bottom: 72px;
  background-image: url(../../assets/header-img/yandex_go.svg);
}
@media (max-width: 1239px) {
  .header__logo {
    margin-bottom: 32px;
  }
}

.header__description {
  margin-top: 44px;
  color: #21201F;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
}

.header__toggle_old {
  padding: 11px 12px 11px 57px;
  margin-left: -45px;
  color: #808080;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  text-decoration: line-through;
  border-radius: 500px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
}

.header__toggle_new {
  position: relative;
  z-index: 1;
  top: 2px;
  padding: 6px 12px;
  font-size: 24px;
  font-weight: 500;
  line-height: 19px;
  border-radius: 500px;
  background: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  color: #21201F;
}

.bonuses {
  background: #FFF;
}
@media (max-width: 1239px) {
  .bonuses {
    padding-left: 82px;
  }
}

.bonus-icon {
  width: 94px;
  height: 83px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.bonus-icon:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.bonus-description {
  color: #21201F;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}

.events {
  margin-top: 67px;
  background: #FFF;
}
@media (max-width: 1239px) {
  .events {
    margin-top: 42px;
    padding-left: 82px;
  }
}

.icon-events1 {
  position: absolute;
  top: -150px;
  left: 245px;
}
@media (max-width: 1239px) {
  .icon-events1 {
    display: none;
  }
}

.icon-events2 {
  position: absolute;
  left: -242px;
  top: -136px;
}
@media (max-width: 1239px) {
  .icon-events2 {
    display: none;
  }
}

.icon-events3 {
  position: absolute;
  top: 130px;
  left: 103px;
}
@media (max-width: 1239px) {
  .icon-events3 {
    display: none;
  }
}

.photo-events {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.photo-events:hover {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.in-plus {
  margin-top: 104px;
  background: #FFF;
}
@media (max-width: 1239px) {
  .in-plus {
    margin-top: 82px;
  }
}

.in-plus__left-content {
  position: relative;
  margin-bottom: 128px;
}
@media (max-width: 1239px) {
  .in-plus__left-content {
    margin-bottom: 40px;
    position: static;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.in-plus__description {
  color: #21201F;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}

.img1-in-plus {
  position: absolute;
  top: -234px;
  left: 272px;
}

.in-plus__right-content {
  position: relative;
  margin-left: 505px;
}
@media (max-width: 1239px) {
  .in-plus__right-content {
    margin-left: 0;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1239px) {
  .in-plus__title {
    margin-top: -80px;
  }
}

.img2-in-plus {
  position: absolute;
  left: -750px;
  top: -136px;
}
@media (max-width: 1239px) {
  .img2-in-plus {
    position: static;
    width: 100%;
  }
}

.footer {
  margin-top: 111px;
  margin-bottom: 128px;
  background: #FFF;
}
.footer__subscription {
  color: #C5C5C5;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 120%;
}
@media (max-width: 1239px) {
  .footer {
    padding-left: 82px;
    margin-bottom: 72px;
  }
}

.subscription_link {
  text-decoration: none;
  color: #C5C5C5;
  font-size: 13px;
  font-weight: 400;
  line-height: 120%;
  font-style: normal;
  text-decoration-line: underline;
  transition: all 0.3s;
}
.subscription_link:hover {
  color: #21201F;
}

/*# sourceMappingURL=style.css.map */
