.layout-2-column {
    display: flex;
    column-gap: 112px;
    @media (max-width: 1239px) {
        flex-direction: column;
        column-gap: 0;
    }
}

.bonus {
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 61px;
    @media (max-width: 1239px) {
        flex-direction: row;
        column-gap: 32px;
    }
}