.grid-layout-2-column {
    display: grid;
    width: 927px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 51px 202px 262px 202px 262px 202px;
    gap: 8px;
    @media (max-width: $wrapper-pad) {
        display: flex;
        width: 100%;
        padding: 0 32px;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width: $wrapper-mobile) {
        display: block;
        padding: 0;
    }
}

.event-text {
    grid-column: 1;
    grid-row: 1/3;
    color: #21201F;
    @extend %font-family;
    @include fontText(24px, 500, 120%);
    @media (max-width: $wrapper-pad) {
        padding: 0 0 40px 0;
    }
    @media (max-width: $wrapper-mobile) {
        padding: 0 0 47px 17px;
        @include fontText(16px, 500, 120%);
    }
}

.event-photo1 {
    position: relative;
    grid-column: 2;
    grid-row: 2/4;
    @media (max-width: $wrapper-pad) {
        position: static;
    }
}

.event-photo2 {
    position: relative;
    grid-column: 1;
    grid-row: 3/4;
    @media (max-width: $wrapper-pad) {
        position: static;
    }
}

.event-photo3 {
    position: relative;
    grid-column: 2;
    grid-row: 4/6;
    @media (max-width: $wrapper-pad) {
        position: static;
    }
}

.event-photo4 {
    grid-column: 1;
    grid-row: 5;
    @media (max-width: $wrapper-pad) {
        position: static;
    }
}

.photo-events {
    width: 456px;
    @media (max-width: $wrapper-pad) {
        border-radius: 30px;
    }
    @media (max-width: $wrapper-mobile) {
        width: 344px;
    }
}
