.all-wrapper {
    max-width: $all-wrapper-desctop;
    margin: auto;
    @media (max-width: $wrapper-pad) {
        width: $all-wrapper-tablet;
    }
    @media (max-width: $wrapper-mobile) {
        width: $all-wrapper-mobile;
        position: relative;
    }
}

.wrapper {
    max-width: $content-width;
    margin: auto;
    @media (max-width: $wrapper-pad) {
        width: $content-tablet-width;
    }
    @media (max-width: $wrapper-mobile) {
        width: $content-mobile-width;
    }
}

