$color-button: #FFDE40;
$color-text: #21201F;
$color-aditional: #C5C5C5;
$color-light: #FFF;
$color-grey: #808080;

$all-wrapper-desctop: 1440px;
$content-width: 980px;


$all-wrapper-tablet: 768px;
$content-tablet-width: 704px;



$mobile-width: 375px;
$mobile-content-width: 100%;