.bonuses {
    background: $color-light;
}

.bonus-icon {
    width: 94px;
    height: 83px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
}

.bonus-icon:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.bonus-description {
    color: #21201F;
    font-family: 'YS Text', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
}