.bonuses {
    background: $color-light;
}

.bonus-icon {
    width: 94px;
    height: 83px;
}

.bonus-description {
    color: #21201F;
    font-family: 'YS Text', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%; /* 28.8px */
}