.events {
    margin-top: 67px;
    background: $color-light;
}

.icon-events1 {
    position: absolute;
    top: -150px;
    left: 245px;
}

.icon-events2 {
    position: absolute;
    left: -242px;
    top: -136px;
}

.icon-events3 {
    position: absolute;
    top: 130px;
    left: 103px;
}

.photo-events {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.photo-events:hover {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}