.footer {
    margin-top: 111px;
    margin-bottom: 128px;
    background: $color-light;
    &__subscription {
      color: $color-aditional;
      @extend %font-family;
      font-style: normal;
      @include fontText(13px, 400, 120%)
    }
    @media (max-width: 1239px) {
      padding-left: 82px;
      margin-bottom: 72px;
   }
}

  .subscription_link {
    text-decoration: none;
    color: $color-aditional;
    @extend %font-family;
    @include fontText(13px, 400, 120%);
    font-style: normal;
    text-decoration-line: underline;
    transition: all .3s;
    &:hover {
    color: $color-text;
    }
  }
