.header {
    position: relative;
    background-image: url(../../assets/header-img/bg.png);
    background-size: cover;
}

.header__wrapper {
    padding: 124px 0;
}

.header__content {
    position: relative;
    margin-left: 30px;
    z-index: 1;
}

.header__scooter-img {
    position: absolute;
    left: 271px;
    top: -68px;
}

.header__shadow {
    position: absolute;
    left: 240px;
    top: -10px;
    width: 657.8px;
    height: 401.903px;
    transform: rotate(-140.03deg);
    border-radius: 657.8px;
    opacity: 0.5;
    background: #8241EF;
    filter: blur(100px);
}

.header__logo {
    display: inline-block;
    width: 176px;
    height: 50px;
    margin-bottom: 72px;
    background-image: url(../../assets/header-img/yandex_go.svg)
}

.header__description {
    margin-top: 44px;
    color: $color-text;
    @extend %font-family;
    @include fontText(24px, 500, 130%);
  }

  .header__toggle_old {
    padding: 11px 12px 11px 57px;
    margin-left: -45px;
    color: $color-grey;
    @extend %font-family;
    @include fontText(16px, 500, 120%);
    text-decoration: line-through;
    border-radius: 500px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
  }

  .header__toggle_new {
    position: relative;
    z-index: 1;
    top: 2px;
    padding: 6px 12px;
    @extend %font-family;
    @include fontText(24px, 500, 19px);
    border-radius: 500px;
    background: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
    color: $color-text;
  }
