.in-plus {
    margin-top: 104px;
    background: $color-light;
}

.in-plus__left-content {
    position: relative;
    margin-bottom: 128px;
}

.in-plus__description {
    color: $color-text;
    @extend %font-family;
    @include fontText(24px, 500, 120%)
}

.img1-in-plus {
    position: absolute;
    top: -234px;
    left: 272px;
}

.in-plus__right-content {
    position: relative;
    margin-left: 505px;
}

.img2-in-plus {
    position: absolute;
    left: -750px;
    top: -136px;
}