@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'YS Text';
  src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h1 {
    position: relative;
    color: $color-text;
    @extend %font-family;
    @include fontTitle(72px, normal, 900, 100%, -1.44px)
  }

  h2 {
    margin-bottom: 48px;
    color: $color-text;
    @extend %font-family;
    @include fontTitle(56px, normal, 900, 100%, -1.12px)
}

h3 {
    margin-bottom: 48px;
    color: $color-text;
    @extend %font-family;
    @include fontTitle(48px, normal, 900, 100%, -0.96px)
  }