.slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.slider-button {
    margin-top: 24px;
    display: flex;
    column-gap: 12px;
}

.arrow {
    padding: 5.3px 12px;
    font-size: 30px;
    background-color: #FFDE40;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background: rgb(255, 142, 255);
    }
}

.notActiv {
    opacity: 0.4;
}

